html {
  background: black;
  --accent-color: #e9a62d;
}

.text-wrapper {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 60px 0;
  text-align: center;
}

.text-box {
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  width: 650px;
  padding: 20px;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 5px;
  border-radius: 10px;
  background: white;
  color: black;
  font-family: monospace;
  font-size: 20px;
  height: 80px;
  line-height: 30px;
}

.text-content {
  overflow: hidden;
  border-right: 3px solid var(--accent-color);
  white-space: nowrap;
  animation:
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--accent-color); }
}

div#attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 30px;
  color: white;
  font-family: monospace;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.85;
  text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.85);
}

div#attribution a {
  color: white;
}

#hud {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  color: white;
  font-family: monospace;
  font-size: 18px;
  padding: 30px;
  padding-top: 40px;
}

#debug {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  font-family: monospace;
  font-size: 14px;
  padding: 30px;
  opacity: 0.85;
}

.page-container {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 50px 20px;
  font-family: monospace;
  overflow-y: auto;
}

.page-container h1 { 
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

.page-container p {
  font-size: 24px;
  margin: 10px;
  text-align: center;
  opacity: 0.5;
  line-height: 32px;
}

.page-container img {
  width: 200px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  justify-content: start;
}

.portal-page img, .portal-page h1, .portal-page p {
  animation: fadeIn 1s ease-in;
}

.page-container.portal-page {
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.85);
}

.portal-page p {
  opacity: 1;
  width: 500px;
  line-height: 35px;
}

.portal-page img {
  margin-top: 30px;
}

.portal-page video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.code-container {
  margin: 10px;
  text-align: center;
}

.code-container input, .code-container button {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  font-family: monospace;
  border: 1px solid black;
  outline: none;
}

.code-container button {
  background: white;
  color: black;
  cursor: pointer;
}

.code-container button:hover {
  background: var(--accent-color);
}

@keyframes shake {
  0%, 100% { transform: translateX(0); border-width: 1px; }
  25% { transform: translateX(-10px); border-width: 3px; }
  75% { transform: translateX(10px); border-width: 3px; }
}

@keyframes win {
  0%, 100% { transform: translateY(0); border-width: 1px; }
  25% { transform: translateY(-10px); border-width: 3px; }
  75% { transform: translateY(10px); border-width: 3px; }
}

.code-container.incorrect input {
  border-color: rgb(232, 68, 68);
  animation: shake 0.4s ease-in-out;
}

.code-container.correct input {
  border-color: rgb(88, 211, 88);
  animation: win 0.4s ease-in-out;
}

.hint-container {
  max-width: 550px;
}

.hint-container p {
  margin: 20px;
  font-size: 16px;
  line-height: 20px;
}

.hint-trigger {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 10px;
  font-size: 18px;
}

.hint-trigger:hover {
  color: var(--accent-color);
  text-decoration-style: dotted;
}
